<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="epcalipers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<userSettings>
        <epcalipers.Properties.Settings>
            <setting name="CaliperColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HorizontalCalibration" serializeAs="String">
                <value>1000 msec</value>
            </setting>
            <setting name="VerticalCalibration" serializeAs="String">
                <value>10 mm</value>
            </setting>
            <setting name="RoundMsecRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfIntervalsMeanRR" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NumberOfIntervalsQtc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowHandlesPictureMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHandlesTransparentMode" serializeAs="String">
                <value>True</value>
            </setting>
        </epcalipers.Properties.Settings>
    </userSettings>
</configuration>
