<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define epcalipers_TargetDir=$(var.epcalipers.TargetDir)?>
  <Product Id="*" Name="EP Calipers" Language="1033" Version="2.4.3.0" Manufacturer="EP Studios" UpgradeCode="6173b3f3-17b5-4011-8c79-31a279220332">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="EP Calipers" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="epcalipers" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EPCalipers" />

      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="da7219dd-7359-42ac-b760-efb46387a9b0">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="EP Calipers" Description="EP Calipers" Target="[INSTALLFOLDER]epcalipers.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\epcalipers" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="221ed130-19ac-4059-b671-3fdf0a2f0393">
        <Shortcut Id="ApplicationDesktopShortcut" Name="EP Calipers" Description="EP Calipers" Target="[INSTALLFOLDER]epcalipers.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\epcalipers" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>



  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->

      <Component Id="epcalipers_help.chm" Guid="ef8b927e-a191-4313-91b3-007642cf4444">
        <File Id="epcalipers_help.chm" Name="epcalipers-help.chm" Source="$(var.epcalipers_TargetDir)epcalipers-help.chm" />
      </Component>
      <Component Id="epcalipers_test_icon.ico" Guid="71126a0d-4009-428e-95d5-b3f4ef9cfa0c">
        <File Id="epcalipers_test_icon.ico" Name="epcalipers-test-icon.ico" Source="$(var.epcalipers_TargetDir)epcalipers-test-icon.ico" />
      </Component>
      <Component Id="epcalipers.exe" Guid="4f2a6cc5-95f7-41cd-a97e-385bb68a6a62">
        <File Id="epcalipers.exe" Name="epcalipers.exe" Source="$(var.epcalipers_TargetDir)epcalipers.exe" />
      </Component>
      <Component Id="epcalipers.exe.config" Guid="ddf6d839-c675-465b-b73f-ba28e6843066">
        <File Id="epcalipers.exe.config" Name="epcalipers.exe.config" Source="$(var.epcalipers_TargetDir)epcalipers.exe.config" />
      </Component>
      <Component Id="gsdll32.dll" Guid="33db4a8b-a551-402f-8307-b5f4176e627a">
        <File Id="gsdll32.dll" Name="gsdll32.dll" Source="$(var.epcalipers_TargetDir)gsdll32.dll" />
      </Component>
      <Component Id="gswin32c.exe" Guid="ed92d8c9-69ba-4464-8ff8-5ddaf926be58">
        <File Id="gswin32c.exe" Name="gswin32c.exe" Source="$(var.epcalipers_TargetDir)gswin32c.exe" />
      </Component>
      <Component Id="Magick.Native_Q16_x86.dll" Guid="1ab6eb34-4acf-4fb5-9ced-f0848848b50f">
        <File Id="Magick.Native_Q16_x86.dll" Name="Magick.Native-Q16-x86.dll" Source="$(var.epcalipers_TargetDir)Magick.Native-Q16-x86.dll" />
      </Component>
      <Component Id="Magick.NET_Q16_x86.dll" Guid="1eca1a9b-cf56-4e01-a91f-0f4190f89f7e">
        <File Id="Magick.NET_Q16_x86.dll" Name="Magick.NET-Q16-x86.dll" Source="$(var.epcalipers_TargetDir)Magick.NET-Q16-x86.dll" />
      </Component>
      <Component Id="WpfTransparentWindow.dll" Guid="f8674db9-401c-43d0-9c5c-7a56764ae8b0">
        <File Id="WpfTransparentWindow.dll" Name="WpfTransparentWindow.dll" Source="$(var.epcalipers_TargetDir)WpfTransparentWindow.dll" />
      </Component>
      <Component Id="EPCalipersCore.dll" Guid="f588a079-33b5-4ac3-b8ea-684b800704a7">
        <File Id="EPCalipersCore.dll" Name="EPCalipersCore.dll" Source="$(var.epcalipers_TargetDir)EPCalipersCore.dll" />
      </Component>
      <Component Id="epcalipers.pdb" Guid="7eb6990c-0ed0-4a52-8d57-a113bd7f31a7">
        <File Id="epcalipers.pdb" Name="epcalipers.pdb" Source="$(var.epcalipers_TargetDir)epcalipers.pdb" />
      </Component>
      <Component Id="EPCalipersCore.pdb" Guid="c2661403-9335-4065-9d2a-eff6658f4042">
        <File Id="EPCalipersCore.pdb" Name="EPCalipersCore.pdb" Source="$(var.epcalipers_TargetDir)EPCalipersCore.pdb" />
      </Component>
      <Component Id="WpfTransparentWindow.pdb" Guid="49a8660d-2316-4b1e-b904-19e3e893e461">
        <File Id="WpfTransparentWindow.pdb" Name="WpfTransparentWindow.pdb" Source="$(var.epcalipers_TargetDir)WpfTransparentWindow.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
