<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define epcalipers_TargetDir=$(var.epcalipers.TargetDir)?>
  <Product Id="*" Name="EP Calipers" Language="1033" Version="1.7.0.0" Manufacturer="EP Studios" UpgradeCode="6173b3f3-17b5-4011-8c79-31a279220332">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="EP Calipers" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="epcalipers" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="EPCalipers" />

      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="da7219dd-7359-42ac-b760-efb46387a9b0">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="EP Calipers" Description="EP Calipers" Target="[INSTALLFOLDER]epcalipers.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\epcalipers" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="221ed130-19ac-4059-b671-3fdf0a2f0393">
        <Shortcut Id="ApplicationDesktopShortcut" Name="EP Calipers" Description="EP Calipers" Target="[INSTALLFOLDER]epcalipers.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\epcalipers" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>



  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->

      <Component Id="epcalipers_help.chm" Guid="ef8b927e-a191-4313-91b3-007642cf4444">
        <File Id="epcalipers_help.chm" Name="epcalipers-help.chm" Source="$(var.epcalipers_TargetDir)epcalipers-help.chm" />
      </Component>
      <Component Id="epcalipers_test_icon.ico" Guid="71126a0d-4009-428e-95d5-b3f4ef9cfa0c">
        <File Id="epcalipers_test_icon.ico" Name="epcalipers-test-icon.ico" Source="$(var.epcalipers_TargetDir)epcalipers-test-icon.ico" />
      </Component>
      <Component Id="epcalipers.exe" Guid="4f2a6cc5-95f7-41cd-a97e-385bb68a6a62">
        <File Id="epcalipers.exe" Name="epcalipers.exe" Source="$(var.epcalipers_TargetDir)epcalipers.exe" />
      </Component>
      <Component Id="epcalipers.exe.config" Guid="ddf6d839-c675-465b-b73f-ba28e6843066">
        <File Id="epcalipers.exe.config" Name="epcalipers.exe.config" Source="$(var.epcalipers_TargetDir)epcalipers.exe.config" />
      </Component>
      <Component Id="Magick.NET_Q16_x64.Native.dll" Guid="77f1ceb0-baa6-4c6d-8ed9-7982a7ed7b48">
        <File Id="Magick.NET_Q16_x64.Native.dll" Name="Magick.NET-Q16-x64.Native.dll" Source="$(var.epcalipers_TargetDir)Magick.NET-Q16-x64.Native.dll" />
      </Component>
      <Component Id="Magick.NET_Q16_x64.dll" Guid="8d5e2e1a-3810-4d23-a658-f5fa5e773486">
        <File Id="Magick.NET_Q16_x64.dll" Name="Magick.NET-Q16-x64.dll" Source="$(var.epcalipers_TargetDir)Magick.NET-Q16-x64.dll" />
      </Component>
      <Component Id="gsdll64.dll" Guid="10b07b7f-05d1-4c90-b992-083868352520">
        <File Id="gsdll64.dll" Name="gsdll64.dll" Source="$(var.epcalipers_TargetDir)gsdll64.dll" />
      </Component>
      <Component Id="gswin64c.exe" Guid="23c8a20b-8f88-4f1f-8569-89244902995c">
        <File Id="gswin64c.exe" Name="gswin64c.exe" Source="$(var.epcalipers_TargetDir)gswin64c.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
