<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPCalipersCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EPCalipersCore.Properties.Settings>
            <setting name="CaliperColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HorizontalCalibration" serializeAs="String">
                <value>1000 msec</value>
            </setting>
            <setting name="VerticalCalibration" serializeAs="String">
                <value>10 mm</value>
            </setting>
            <setting name="NumberOfIntervalsMeanRR" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NumberOfIntervalsQtc" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultQTcFormula" serializeAs="String">
                <value>Bazett</value>
            </setting>
            <setting name="WindowOnTopWhenTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoundTo" serializeAs="String">
                <value>To Integer</value>
            </setting>
            <setting name="AutoPositionText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeCaliperTextPosition" serializeAs="String">
                <value>Center Above</value>
            </setting>
            <setting name="AmplitudeCaliperTextPosition" serializeAs="String">
                <value>Right</value>
            </setting>
        </EPCalipersCore.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
